@font-face {
  font-family: 'Symbols Nerd Font Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/SymbolsNerdFontMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Departure Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/fonts/GeistMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist Mono';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('/fonts/GeistMono-Bold.woff2') format('woff2');
}
